<h1></h1>
<canvas id="myBarChart" width="800"></canvas>
<script>
var ctx = document.getElementById("myBarChart");
var myBarChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: gon.labels,
    datasets: [
      {
          label: '趣味・娯楽',
          data: gon.sums_red,
          backgroundColor: "rgba(219,39,91,0.5)"
        },{
          label: '生活費',
          data: gon.sums_yellow,
          backgroundColor: "rgba(255,183,76,0.5)"
        },{
          label: '仕事・勉強',
          data: gon.sums_green,
          backgroundColor: "rgba(176,237,148,0.9)"
        }
    ]
  },
  options: {
    responsive: false,
    title: {
      display: true,
      text: '過去1年間の分析'
    },
    scales: {
      yAxes: [{
        ticks: {
          suggestedMax: gon.sums_max,
          suggestedMin: 0,
          stepSize: gon.sums_max / 10,
          callback: function(value, index, values){
            return  '¥' + value
          }
        }
      }]
    },
  }
});
</script>
