<section class="history_index">
  <h1>履歴</h1>
  <p>Find me in app/views/histories/index.html.erb</p>

  <div class="history_list">
    <table cellspacing="0" border="2">
      <% 13.times do |i| %>
        <tr>
          <td>
            <% year = (@today - i.month).year %>
            <% month = "%02d" % (@today - i.month).month %>
            <%= link_to "#{year}年 #{month}月" ,
                          history_path("#{year}-#{month}", start_date: "#{year}-#{month}-1") %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</section>