<section class="history_index">
  <h1>履歴</h1>
  <p>Find me in app/views/histories/index.html.erb</p>

  <div class="history_list">
    <table cellspacing="0" border="2">
      <% @recently_ym.each do |ym| %>
        <tr>
          <td>
            <% year = ym[0] %>
            <% month = ym[1] %>
            <% sum = ym[2] %>
            <%= link_to "#{year}年 #{month}月",
                        history_path("#{ym[0]}-#{ym[1]}", start_date: "#{ym[0]}-#{ym[1]}-1") %>
          </td>
          <td class="monthly_sum">
            <%= "¥#{sum.to_s(:delimited)}" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <%= render 'graph' %>

</section>