// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.account_index {
  background-color: whitesmoke ;
}

.form_table td{
  width: 130px;
}

.data_table td{
  width: 150px;
}

.columns {
  background-color: lightgray ;
  font-weight: bold;
  border-bottom:1px solid #ccc;
}

#sum_tr {
  border-top:1px solid #ccc;
}

#sum_td {
  float: right;
  padding-right: 15px;
}

#sum_tr {
  font-weight: bold;
}
