// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index page
.account_index {
  background-color: whitesmoke ;
  margin-top: 0px;
}

.account-form {
  margin: 50px;
}

.form_table td{
  width: 130px;
}

.data_table {
  margin: 50px;
}

.data_table td {
  width: 150px;
}

.columns {
  background-color: lightgray ;
  font-weight: bold;
  border-bottom:1px solid #ccc;
}

#sum_tr {
  border-top:1px solid #ccc;
}

#sum_td {
  float: right;
  padding-right: 15px;
}

#sum_tr {
  font-weight: bold;
}

.fa-trash-alt {
  padding-left: 15px;
}

.fa-cog {
  padding-left: 10px;
}

.summary_table td {
  width: 150px;
}

.summary_table {
  margin: 50px;
}

// edit page
.account_edit {
  background-color: whitesmoke ;
}