// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index page
.category_index {
  background-color: whitesmoke ;
  margin-top: 0px;
}

.category_list {
  margin: 50px;
}

td {
  width: 150px;
}

.columns {
  background-color: lightgray ;
  font-weight: bold;
  border-bottom:1px solid #ccc;
}

.category_index .fa-trash-alt {
  float: right;
}
