// Place all the styles related to the histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.history_index {
  background-color: whitesmoke ;
  margin-top: 0px;
}

.hisory_list {
  align: center;
}

.history_list td {
  background-color: white;
  font-size: 30px;
  width: 500px;
  text-align: center;
}