<section class="category_index">
  <h1>カテゴリー 一覧です</h1>
  <p>普段買い物するカテゴリーをカスタマイズしましょう</p>

  <div class="form_of_category">
    <%= form_tag request.url do %>
      <input type="text" name="add_category">
      <input type="submit">
    <% end %>
  </div>

  <table>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
      </tr>
    <% end %>
  </table>
</section>
