<section class="category_index">
  <h1>カテゴリー 一覧</h1>
  <p>普段買い物するカテゴリーをカスタマイズしましょう</p>

  <div class="form_of_category">
    <%= form_tag request.url do %>
      <input type="text" name="add_category">
      <input type="submit" value="追加">
    <% end %>
  </div>

  <table class="category_list" cellspacing="0" border="2">
    <tr class="columns">
      <td>カテゴリー名</td>
    </tr>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %>
          <%= link_to category_path(category.id), method: "delete", style: "color: gray;" do %>
            <i class="fa fa-trash-alt"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</section>
