
html {
  background-color: whitesmoke ;
  margin: 0;         /* 余白の削除 */
  padding: 0;        /* 余白の削除 */
  width:100%;
  height:100%;

}

.header {
  position: fixed;            /* ヘッダーの固定 */
  top: 0px;                   /* 位置(上0px) */
  left: 0px;                  /* 位置(右0px) */
  width: 100%;                /* 横幅100%　*/
}

section {
  padding-top: 60px;
}
